AUTH_SECRET="xxxxxxxxxxxxxxxxxxxxxxx"
AUTH_URL='http://localhost:3000'
AUTH_TRUST_HOST=true

DATABASE_URL="postgresql://admin_cesizen:admin_cesizen@localhost:5432/dev_cesizen?schema=public"

NODE_ENV=development